@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}



:root {
    --bgColor :#191f36;
    --snd-bgColor : #262b40;
    --textColor : #fff ;
    --mainColor : #59b2f4;
    --baseColor : #DCF2F1;
}

html {
    font-size: 62.5%;
    background: var(--baseColor);

}

main {
    min-height: 100vh;
    padding: 5rem 5rem 5rem 5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--baseColor);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    color: var(--bgColor);
    font-weight: 700;
    cursor: default;
}


nav {
    display: flex ;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}


.navbar ul li a {
    font-size: 1.5rem;
    color: var(--bgColor);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar ul li a:hover {
    color: var(--mainColor);
    transition: 0.5s linear;
}


.hamburger-menu {
    font-size: 2.5rem;
    display: none;


}

.home {
display: flex;
justify-content: center;
align-items: center;

}

.homeContent h1{
font-size: 3.2rem;
font-weight: 700;
}

.homeContent h3:nth-of-type(2) {
margin-bottom: 2rem;
}

span {
color: var(--mainColor);
}


.home .homeContent .nama {
font-size: 5.6rem;
font-weight: 700;
}


.fotoDiri img {
width: 65%;
height: 65%;
margin: 5rem 5rem 5rem 20rem ;
}

.homeContent p {
font-size: 1.6rem;
}


.sosialMedia a {
display: inline-flex;
justify-content:center ;
align-items:center ;
width: 4rem;
height: 4rem;
background: transparent;
border: .2rem solid var(--mainColor);
border-radius: 50%;
font-size: 2rem;
color: var(--mainColor);
margin: 3rem 1.5rem 3rem 0;
transition: .5s ease;
}

.sosialMedia a:hover {
background: var(--mainColor);
color: var(--snd-bgColor);
box-shadow: 0 0 1rem var(--mainColor);
}

.button {
display: inline-block;
padding: 1rem 2rem;
background: var(--mainColor);
border-radius: 4rem;
font-size: 1.5rem;
color: var(--bgColor);
letter-spacing: .1rem;
font-weight: 600;
}

.button:hover {
    box-shadow: 0 0 3rem var(--mainColor);
    transition: .5 linear;
    color: var(--baseColor);
}

.about {
    margin-top: 15rem;
    color: var(--bgColor);
    
}

.heading {
    font-size: 3rem;
}
 

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

 .about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 1.5rem;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 h1 {
    font-size: 3rem;
}

.about-col-2 p {
    font-size: 1.5rem;
}

.aboutList {
    display: flex;
    margin : 20px 0 40px;
}

.aboutSkill h3 {
    font-size: 2rem;
    font-weight: bold;
}

.aboutEducation h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5rem;

}

.aboutSkill ul li {
    list-style: none;
    margin: 0.8rem 0;
    font-size: 1.5rem;
    color: black;
}

.aboutEducation ul li {
    list-style: none;
    margin: 0.8rem 0 0 5rem;
    font-size: 1.5rem;
    color: black;
}



.portfolio h2 {
    margin-bottom: 4rem;
    margin-top: 10rem;
    text-align: center;
}

.portfolioContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    align-items: center;
}

.portfolioContainer .portfolioBox {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 2rem var(--bgColor);
    overflow: hidden;
    display: flex;
}

.portfolioBox img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.portfolioBox:hover img {
    transform: scale(1.1);
}

.portfolioBox .portfolioLayer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1), var(--mainColor));
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 3rem;
    transform: translateY(100%);
    transition: .7s ease;

}

.portfolioBox:hover .portfolioLayer {
    transform: translateY(0);
}

.portfolioLayer h4 {
    font-size: 2.5rem;
}

.portfolioLayer p {
    font-size: 1.5rem;
    margin: .3rem 0 1rem;
}

.portfolioLayer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--bgColor);
    border-radius: 50% ;
}

.portfolioLayer a i {
    font-size: 2rem;
    color: var(--baseColor);
}


.contact {
    margin-top: 10rem;

}

.contact h2 {
    margin: 4rem 0 4rem 0 ;
    text-align: center;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input, 
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--bgColor);
    background: var(--mainColor);
    border-radius: 2rem;
    margin: 1rem 0;
}

.contact form .inputBox input {
    width: 48%;
    justify-content: space-between;
}

.contact form textarea {
    resize: none;
}

.contact form .button {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bgColor);
}

.footerText{
    font-size: 1.6rem;
    color: var(--baseColor);
}

.footer-icontop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    background: var(--baseColor);
    border-radius: .8rem;
    transition: 1s ease;
}

.footer-icontop a:hover {
    box-shadow: 0 0 1rem var(--mainColor);

}

.footer-icontop a i {
    font-size: 2.4rem;
    color: var(--bgColor);
}


/* RESPONSIVE */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    article {
        padding: 10rem 3%;
    }

    .skills {
        padding: 5rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}


/* RESPONSIVE MEDIA QUERY */

@media (max-width: 768px){
   .navbar {
    flex-wrap: wrap;
   }
    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul.hidden {
        display: none;
    }

    .navbar ul li a {
        font-size: 2rem;
        padding: 3rem 3rem 3rem 3rem ;
    }

    .hamburger-menu {
        display: flex;
    }
    .home {
        flex-direction: column;
    }

    .homeContent{
        order: 2;
    }
    .homeContent h3 {
        font-size: 2.6rem;
    }
    .homeContent h1 {
        font-size: 5rem;
    }
    .fotoDiri img {
        width: 50%;
        margin-top: 1rem;
    }

    .skills {
        flex-direction: column;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolioContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 617px) {
        .portfolioContainer {
            grid-template-columns: 1fr;
        }

        .home .fotoDiri img {
            width: 70%;
            justify-content: center;
            align-items: center;
        }
    }

    @media (max-width:450px) {
        html {
            font-size: 50%;
        }


        .about-col-1 img {
            display: none;
        }

        .about {
            margin-top: 0;
        }

        .portfolio {
            margin-top: 0;
        }

        .contact {
            margin-top:    0;
        }


        .contact form .inputBox input {
            width: 100%;
        }
    }

}